<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<style>
    .box{
        width: 500px;
        margin: 0 auto;
        text-align: center;
    }
    h1{
        text-align: center;
    }
</style>
<body>
<div class="box">
    <h1>手写体识别</h1>
    <form action="/getImg/" method="post" enctype="multipart/form-data">
        <label for="">请上传图片:</label>
        <input type="file" name="image"><br>
        <br>
        <input type="submit" value="识别">
    </form>
</div>
</body>
<script>

</script>
</html>